<!-- Navbar Component -->
<app-navbar></app-navbar>

<!-- Homepage html -->

<!-- Top of Page With Opening Graphs Section -->

<div class="top">
  <div class="top-wrapper" id="top">
      <app-simplebarchart *ngIf="fakecasesbar" [data]="fakecasesbar">
      </app-simplebarchart>
      <app-simplelinechart *ngIf="fakecases" [data]="fakecases">
      </app-simplelinechart>
      <div class="callout_jumbo">
        <div class="typewriter">
          <div class="line1">
            Hello, welcome <br> to my portfolio.
          </div>
        </div>
      </div>
  </div>
</div>

<!-- About Me Section -->
<div class="aboutme-nav" id="aboutme-nav">
  <div class="aboutme-header">About Me</div>
  <div class="aboutme-wrapper"> 
    <div class="svg-wrapper-me"> 
      <!-- EDIT CONTENT BELOW -->
        <img class="photo-me" src="../../../assets/headshot_test.png" />
        <h5 class="aboutme-context"><span class='highlight'><strong>Hey!</strong> I'm Charles, a freelance <strong>Data Analyst</strong> passionate about leveraging data and statistics to gain a better understanding of anything.</span></h5>
        <a href='../../../assets/resume/Charles Jacob Tan - Resume.pdf'  class="waves-effect waves-light btn square-btn navigate">My Resume</a>
</div>

<!-- This is the projects content that will show on a larger screen (not mobile) -->

<div class="projects-div" id="navigate">
  <div class="projects-header">Projects</div>
  <div class="projects-wrapper"  *ngIf="!mobile">

    <div class="project_one">
    </div>

    <div class="project_one_context">
      <div class='proj-wrapper'>
        <p class="project_description">
            <!-- EDIT CONTENT BELOW -->
          <a href='../../../assets/posteroanterior image.jpg'><h5 class="project_title"><span class='highlight-title'>COVID-19 Classification using Chest X-ray Images </span></h5></a>
            <span class='highlight-desc'>Amidst the COVID-19 pandemic there have been a multitude of issues with regards to the time and cost of testing individuals for COVID. I trained a VGG16 (CNN) Model on over 500 images to distinguish whether or not a given individual is COVID positive or negative based on their posteroanterior x-ray view. I will be working alongside the Providence Hospital in Quezon City to continuously train and improve this model. </span>
            <br> 
            <br>
            <span class = 'highlight-desc'> Updates to this project will be made regularly. </span>
            <br>
            <br> 
            <span class = 'highlight-desc'> <b>Technologies Used:</b> Python, DigitalOcean </span>
            <br>
            <br>
            <i>July 2021 - Present</i>
        </p>
        <a href='http://206.189.82.204/' class="waves-effect waves-light btn square-btn navigate">Try it Here!</a>
        <a href='https://github.com/charlez1998/COVID-X-ray-Diagnosis' class="waves-effect waves-light btn square-btn navigate">Project Repo</a>
      </div>
    </div>

    <div class="project_two">
    </div>

    <div class="project_two_context">
      <div class='proj-wrapper'>
        <p class="project_description">
              <!-- EDIT CONTENT BELOW -->
          <a href='###' target='_blank'><h5 class="project_title"><span class='highlight-title'>Forecasting Bitcoin Prices Using LSTM's</span></h5></a>
          <span class='highlight-desc'>On account of the growing conversations surrounding the worthwhile investments into Bitcoin, I took it as a personal challenge to forecast its volatile price across different time periods using various time series and recurrent neural network models. Ultimately, I was able to minimize the prediction's root mean squared error through a combination of Long Short Term Memory (LSTM) networks.</span>
          <br>
          <br> 
          <span class = 'highlight-desc'> <b>Technologies Used:</b> Python, Microsoft Excel </span>
          <br>
          <br>
          <i>August 2021</i>
        </p>
        <a href='https://github.com/charlez1998/Bitcoin-Price-Prediction' class="waves-effect waves-light btn square-btn navigate">Project Repo</a>
      </div>
    </div>

    <div class="project_three">
    </div>

    <div class="project_three_context">
      <div class='proj-wrapper'>
        <p class="project_description">
            <!-- EDIT CONTENT BELOW -->
          <a href='###'><h5 class="project_title"><span class='highlight-title'>An Analysis to Maximizing Fantasy Points for The International 10 </span></h5></a>
          <span class='highlight-desc'>An esports tournament that takes place annually, the International 10 will showcase the best players of the video game Dota 2. I will be showcasing some simple and more complex data exploration techniques to the community (such as Monte Carlo Simulations) that will aid in their fantasy point predictions.</span>
          <br>
          <br> 
          <span class = 'highlight-desc'> <b>Technologies Used:</b> R, OpenDota API </span>
          <br>
          <br>
          <span class='highlight-desc'>  <b>Work In Progress</b> </span>
        </p>
        <!-- <a href='https://github.com/charlez1998/Research-Project' class="waves-effect waves-light btn square-btn navigate">Read More</a> -->
      </div>
    </div>
  </div>
</div>

  <!-- This is the projects content that will show on a mobile device -->
  <div class="projects-wrapper"  *ngIf="mobile">

    <div class="project_one">
    </div>

    <div class="project_one_context">
      <div class='proj-wrapper'>
        <p class="project_description">
              <!-- EDIT CONTENT BELOW -->
          <a href='###'><h5 class="project_title"><span class='highlight-title'>COVID-19 Classification using Chest X-ray Images</span></h5></a>
            <span class='highlight-desc'>Amidst the COVID-19 pandemic there have been a multitude of issues with regards to the time and cost of testing individuals for COVID. I trained a VGG16 (CNN) Model on over 500 images to distinguish whether or not a given individual is COVID positive or negative based on their posteroanterior x-ray view. I will be working alongside the Providence Hospital in Quezon City to continuously train and improve this model.</span>
            <br> 
            <br>
            <span class = 'highlight-desc'> Updates to this project will be made regularly. </span>
            <br>
            <br> 
            <span class = 'highlight-desc'> <b>Technologies Used:</b> Python, DigitalOcean </span>
            <br>
            <br>
            <i>July 2021 - Present</i>
          </p>
          <a href='http://206.189.82.204/' class="waves-effect waves-light btn square-btn navigate">Try it Here!</a>
          <a href='https://github.com/charlez1998/COVID-X-ray-Diagnosis' class="waves-effect waves-light btn square-btn navigate">Project Repo</a>
      </div>
    </div>
    
    <div class="project_two">
    </div>
    <div class="project_two_context">
      <div class='proj-wrapper'>
        <p class="project_description">
                  <!-- EDIT CONTENT BELOW -->
          <a href='###' target='_blank'><h5 class="project_title"><span class='highlight-title'>Forecasting Bitcoin Prices Using LSTM's</span></h5></a>
          <span class='highlight-desc'>On account of the growing conversations surrounding the worthwhile investments into Bitcoin, I took it as a personal challenge to forecast its volatile price across different time periods using various time series and recurrent neural network models. Ultimately, I was able to minimize the prediction's root mean squared error through a combination of Long Short Term Memory (LSTM) networks.</span>
          <br>
          <br> 
          <span class = 'highlight-desc'> <b>Technologies Used:</b> Python, Microsoft Excel </span>
          <br>
          <br>
          <i>August 2021</i>
        </p>
        <a href='https://github.com/charlez1998/Bitcoin-Price-Prediction' target='_blank' class="waves-effect waves-light btn square-btn navigate">Project Repo</a>
      </div>
    </div>

    <div class="project_three">
    </div>
    <div class="project_three_context">
      <div class='proj-wrapper'>
        <p class="project_description">
                  <!-- EDIT CONTENT BELOW -->
          <a href='###'><h5 class="project_title"><span class='highlight-title'>An Analysis to Maximizing Fantasy Points for The International 10</span></h5></a>
          <span class='highlight-desc'>An esports tournament that takes place annually, the International 10 will showcase the best players of the video game Dota 2. I will be showcasing some simple and more complex data exploration techniques to the community (such as Monte Carlo Simulations) that will aid in their fantasy point predictions.</span>
          <br>
          <br> 
          <span class = 'highlight-desc'> <b>Technologies Used:</b> R, OpenDota API </span>
          <br>
          <br>
          <span class='highlight-desc'>  <b>Work In Progress</b> </span>
        </p>
        <!-- <a href='https://github.com/charlez1998/Research-Project' class="waves-effect waves-light btn square-btn navigate">Read More</a> -->
      </div>
    </div>
  </div>
</div>
<!-- </div>  -->

<!-- Medium Post section (the Medium widget should already be loaded, just edit the handle below) -->
<!-- EDIT CONTENT BELOW -->
<!-- Change your medium handle below at the @ symbol -->

  <div class="mid1" id="medium">
    <div class="medium-logo">
      <img src="../../../assets/mediumlogo.svg" />
      <h2>Publications Coming Soon!</h2>
    </div>
    <!-- <div class="medium-posts" >
        <ngx-medium-widget resource="https://medium.com/@charlielepo"
        postsLimit="4"
        postsPerLine="1"
        pictureSize="small"
        [postfields]="['description', 'publishAt','claps']"
        postRatio="landscape">
      </ngx-medium-widget>

    </div> -->
  </div>


<!-- Footer component loaded -->

<app-footer></app-footer>
